<!DOCTYPE html>
<html>
    <head><title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}" type="text/css">
        <script src="{{ url_for('static',filename='jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='utility.js') }}"></script>
    </head>
    <body>
        
        <h1>Logged out, Please login to view dashboard</h1>
        
    </body>
</html>